* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5% /* makes 1rem 10px */
}
body {
  font-size: 1.4rem; /* default font of 14px */
  font-family: 'Montserrat', 'Arial', sans-serif;
  line-height: 1.3;
  color: $--st-black;
  background-color: $--st-bg-sand;

  height: 100%;
}
/* fonts */
h1 { font-size: 3rem }
h2 { font-size: 2.4rem }
h3 { font-size: 2rem }
h4, li, label, input, textarea, select, p {
  font-size: 1.8rem;
}
h5 { font-size: 1.6rem }
h6 { font-size: 1.4rem }
ol, ul { padding-left: 2em }
a {
  text-decoration: none;
  color: $--st-black;
  cursor: pointer;
}
//a:hover { color: pink }
//a:focus { color: orange }
//a:active { color: red }

#app {
 height: 100%;
}

.st-grid-row {
  grid-column: 1 / -1;
}

// .st-app {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-content: stretch;

//   min-height: 100%;

//   &__header {
//     width: 100%;

//     background-color: $--st-white;
//     margin-bottom: $--st-offset-xs;


//     flex: 0 0 auto;

//     &-toolbar {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       margin: $--st-offset-xs $--st-offset-xl;
//     }

//     &-cart {
//       display: flex;
//       align-items: center;

//       &-counter {
//         width: 2.25rem;
//         height: 1.75rem;
//         text-align: center;
//         border: 1px solid $--st-gray;
//         color: $--st-white;
//         font-size: $--st-font-small;
//         background: $--st-gray;

//         border-radius: 50%;
//         -moz-border-radius: 50%;
//         -webkit-border-radius: 50%;
//         -khtml-border-radius: 50%;
//       }
//     }

//   }

//   &__body {
//     margin: 0 $--st-offset-xs;
//     flex: 1 0 auto;
//   }

//   &__footer {
//     width: 100%;
//     height: 7rem;

//     background-color: $--st-white;
//     margin-top: $--st-offset-xs;
//   }



