//offsets

$--st-offset-xs: 0.5rem;
$--st-offset-m: 1rem;
$--st-offset-l: 1.5rem;
$--st-offset-xl: 2rem;

//colors

$--st-bg-sand: #F5F5DC;
$--st-gray: #4F4F4F;
$--st-black: #000000;
$--st-white: #FFFFFF;
$--st-red: #C80000;
$--st-blue: #007FFF;
$--st-input-bg: rgba(239, 239, 239, .6);

//font-sizes

$--st-font-small: 1.2rem;
$--st-font-medium: 1.4rem;
$--st-font-large: 2.8rem;


:root {

}

